
<%= render '/layouts/navbar' %>

<div class="d-flex flex-column align-items-center">
<br/>
<h2> I have given:</h2>
<%= link_to "#{number_to_currency(@track_donations, :unit => "$", :class => "primary")}", root_url, class: "nav-link h2" %>
<h2> I have received: </h2>
<%= link_to "#{number_to_currency(current_user.tracks.sum(:total_donations), :unit => "$", :class => "primary")}", root_url, class: "nav-link h2" %>



</div>