/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

// Custom bootstrap variables must be set or imported *before* bootstrap.

html { margin-bottom: 150px }

$border-radius: .5rem;
$theme-colors: (
  "primary": #63b0e5,
  "danger": #ff9999,
  "lighter": #f7f7f7,
  "white": rgb(255, 255, 255),
);

#listing-tracks{
    width: 70%;
}

#fire-image{
    width: 70%;
}

#main-fields{
    width: auto;
    background-color: #f7f7f7;

}

@media (max-width: 1024px) {
    #login-image {
        display: none;
    }
    #player-nav {
        display: none;

    }
    #play-buttons{
        display: inline-block;
    }

  }


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-family-base: 'Roboto', sans-serif; 

@import "bootstrap";

// .body {
//     background-color: white;
//     font-family: 'Roboto', sans-serif;
//     font-size: 20px;
//     box-sizing: border-box;
//     margin: 0;
// }

.background{
    width: 100vw;
    height: 100vh;
    z-index: -99;
    opacity: .7;
    position: fixed;
    top: 0;

-webkit-animation: AnimationName 3s ease 1;
-moz-animation: AnimationName 3s ease 1;
animation: AnimationName 3s ease 1;
}
#colour-white{
    background: linear-gradient(270deg, #63b0e5, white);
    background-size: 400% 400%;
}
#colour-pink{
    background: linear-gradient(270deg, #ff9999, white);
background-size: 400% 400%;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.on-top{
    z-index: 10;

}

.progress-bar-wrapper {
    background-color:white;
    height: 20px;
    width: 100%;
  }
  
.progress-bar {
    background-color: #63b0e5;
    height: 20px;
    max-width: 100%;
  }


// // #colour-red{
//     background-color: red;

// }

// #colour-blue{
//     background-color:blue;

// }